<div class="register-container">
  <div class="card">
    <h2 class="title">Register</h2>

    <form (ngSubmit)="register()">
      <div class="p-fluid">
        
        <div class="field p-float-label">
          <input id="username" type="text" pInputText [(ngModel)]="username" name="username" required />
          <label for="username">Username</label>
          <div *ngIf="username.trim() === ''" class="error">
            Username is required
          </div>
        </div>

        <div class="field p-float-label">
          <p-password
            id="password"
            [(ngModel)]="password"
            name="password"
            required
            feedback="false"
            [toggleMask]="true"
            inputStyleClass="w-full"
          ></p-password>
          <label for="password">Password</label>
          <div *ngIf="password.trim() === ''" class="error">
            Password is required
          </div>
        </div>

        <p-message *ngIf="registerError" severity="error" text="{{ registerError }}"></p-message>

        <button pButton type="submit" label="Register" class="w-full"></button>
      </div>
    </form>

    <p-divider></p-divider>

    <div class="login-link">
      <p>Already have an account?</p>
      <button pButton type="button" label="Login" class="p-button-text" (click)="navigateToLogin()"></button>
    </div>
  </div>
</div>
